config.h
config.log
config.status
libtool
src/.deps/
stamp-h1
src/.deps/
**.deps/
autom4te.cache/
**.libs/
progs/demos/CallbackMaker/CallbackMaker
progs/demos/Fractals/fractals
progs/demos/Fractals_random/fractals_random
progs/demos/Lorenz/lorenz
progs/demos/One/one
progs/demos/shapes/shapes
progs/demos/smooth_opengl3/smooth_opengl3
progs/demos/spaceball/spaceball
progs/demos/subwin/subwin
