# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled headers
*.h.gch
*.hpp.gch

# Emacs cruft
*~
\#*

# Dependency Files
*.d

# Mac OSX cruft
.DS_Store
.cproject
.project
Binaries/ds
Binaries/raytrace1
Binaries/zachMorphDemo
Binaries/dumb
Binaries/melt
Binaries/dumb
Binaries/modelTest
Makefile
debug
Binaries/finalProject
Binaries/MONOLITH
qMakefile
expensiveglut
ImageMagick.spec
ImageMagick/Magick++/bin/Magick++-config
ImageMagick/Magick++/demo/.deps/
ImageMagick/Magick++/lib/.deps/
ImageMagick++.pc
ImageMagick/Magick++/lib/Magick++.pc
ImageMagick/Magick++/tests/.deps/
ImageMagick/PerlMagick/check.sh
ImageMagick/PerlMagick/default/Magick.pm
ImageMagick/PerlMagick/default/Makefile.PL
ImageMagick/PerlMagick/quantum/Makefile.PL
ImageMagick/PerlMagick/quantum/quantum.xs
ImageMagick/PerlMagick/quantum/typemap
ImageMagick/_configs.sed
ImageMagick/coders/.deps/
ImageMagick/common.shi
ImageMagick/config.log
ImageMagick/config.status
ImageMagick.rdf
ImageMagick/config/Magick++.dox
ImageMagick/config/MagickCore.dox
ImageMagick/config/MagickWand.dox
ImageMagick/config/config.h
ImageMagick/config/configure.xml
ImageMagick/config/delegates.xml
ImageMagick/config/stamp-h1
ImageMagick/config/type-dejavu.xml
ImageMagick/config/type-ghostscript.xml
ImageMagick/config/type-windows.xml
ImageMagick/config/type.xml
ImageMagick/filters/.deps/
ImageMagick/libtool
ImageMagick/magick.sh
ImageMagick/magick/.deps/
ImageMagick.pc
ImageMagick/magick/Magick-config
ImageMagick/magick/MagickCore-config
ImageMagick/magick/MagickCore.pc
ImageMagick/tests/.deps/
ImageMagick/utilities/.deps/
ImageMagick/wand/.deps/
ImageMagick/wand/MagickWand-config
ImageMagick/wand/MagickWand.pc
ImageMagick/wand/Wand-config
ImageMagick/wand/Wand.pc
