# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled headers
*.h.gch
*.hpp.gch

# Emacs cruft
*~
\#*

# Dependency Files
*.d

# Mac OSX cruft
.DS_Store
.cproject
.project
Binaries/ds
Binaries/raytrace1
Binaries/zachMorphDemo
Binaries/dumb
Binaries/melt
Binaries/dumb
Binaries/modelTest
Makefile
debug
Binaries/finalProject
Binaries/MONOLITH
qMakefile
expensiveglut
